-- Payment method constraint fix\n\nDROP FUNCTION IF EXISTS finalize_transaction(JSONB);\n\nCREATE OR REPLACE FUNCTION finalize_transaction(\n    transaction_data JSONB\n)\nRETURNS JSONB\nLANGUAGE plpgsql\nSECURITY DEFINER\nAS \\$\\$\nDECLARE\n    transaction_id UUID;\n    customer_id_param UUID;\n    staff_id_param UUID;\n    cart_items JSONB;\n    payment_methods JSONB;\n    total_amount_calc DECIMAL(10,2) := 0;\n    discount_amount_calc DECIMAL(10,2) := 0;\n    tip_amount_calc DECIMAL(10,2) := 0;\n    tax_amount_calc DECIMAL(10,2) := 0;\n    deposit_amount_calc DECIMAL(10,2) := 0;\n    final_due_amount_calc DECIMAL(10,2) := 0;\n    payment_amount_calc DECIMAL(10,2) := 0;\n    item JSONB;\n    payment JSONB;\n    result JSONB;\nBEGIN\n    -- Extract parameters\n    customer_id_param := NULL;\n    IF transaction_data ? 'customer_id' THEN\n        BEGIN\n            customer_id_param := (transaction_data->>'customer_id')::UUID;\n            IF NOT EXISTS (SELECT 1 FROM profiles WHERE id = customer_id_param) THEN\n                customer_id_param := NULL;\n            END IF;\n        EXCEPTION WHEN invalid_text_representation THEN\n            customer_id_param := NULL;\n        END;\n    END IF;\n    \n    IF customer_id_param IS NULL THEN\n        SELECT id INTO customer_id_param FROM profiles LIMIT 1;\n    END IF;\n    \n    staff_id_param := NULL;\n    IF transaction_data ? 'staff_id' THEN\n        BEGIN\n            staff_id_param := (transaction_data->>'staff_id')::UUID;\n        EXCEPTION WHEN invalid_text_representation THEN\n            SELECT id INTO staff_id_param FROM staff LIMIT 1;\n            IF staff_id_param IS NULL THEN\n                INSERT INTO staff (name, username, role, specialty, status, access_level) \n                VALUES ('Default Staff', 'default', 'senior', 'General', 'available', 'full')\n                RETURNING id INTO staff_id_param;\n            END IF;\n        END;\n    END IF;\n    \n    cart_items := transaction_data->'cart_items';\n    payment_methods := transaction_data->'payment_methods';\n    tip_amount_calc := COALESCE((transaction_data->>'tip_amount')::DECIMAL(10,2), 0);\n    \n    -- Calculate totals\n    FOR item IN SELECT * FROM jsonb_array_elements(cart_items)\n    LOOP\n        total_amount_calc := total_amount_calc + \n            ((item->>'price')::DECIMAL(10,2) * COALESCE((item->>'quantity')::INTEGER, 1));\n        discount_amount_calc := discount_amount_calc + \n            COALESCE((item->>'discount')::DECIMAL(10,2), 0);\n        deposit_amount_calc := deposit_amount_calc + \n            COALESCE((item->>'deposit_amount')::DECIMAL(10,2), 0);\n    END LOOP;\n    \n    tax_amount_calc := (total_amount_calc - discount_amount_calc) * 0.05;\n    final_due_amount_calc := total_amount_calc - discount_amount_calc + tax_amount_calc + tip_amount_calc - deposit_amount_calc;\n    \n    FOR payment IN SELECT * FROM jsonb_array_elements(payment_methods)\n    LOOP\n        payment_amount_calc := payment_amount_calc + COALESCE((payment->>'amount')::DECIMAL(10,2), 0);\n    END LOOP;\n    \n    -- Create transaction\n    INSERT INTO transactions (\n        customer_id,\n        staff_id,\n        total_amount,\n        discount_amount,\n        tip_amount,\n        tax_amount,\n        deposit_amount,\n        final_due_amount,\n        status,\n        checkout_time\n    ) VALUES (\n        customer_id_param,\n        staff_id_param,\n        total_amount_calc,\n        discount_amount_calc,\n        tip_amount_calc,\n        tax_amount_calc,\n        deposit_amount_calc,\n        final_due_amount_calc,\n        CASE \n            WHEN payment_amount_calc >= final_due_amount_calc THEN 'PAID'\n            ELSE 'PENDING'\n        END,\n        NOW()\n    ) RETURNING id INTO transaction_id;\n    \n    -- Insert items\n    FOR item IN SELECT * FROM jsonb_array_elements(cart_items)\n    LOOP\n        INSERT INTO transaction_items (\n            transaction_id,\n            item_type,\n            item_id,\n            service_provider_id,\n            quantity,\n            price_per_unit,\n            discount_applied\n        ) VALUES (\n            transaction_id,\n            CASE \n                WHEN LOWER(item->>'item_type') = 'service' THEN 'service'\n                WHEN LOWER(item->>'item_type') = 'product' THEN 'product'\n                WHEN LOWER(item->>'item_type') = 'gift' THEN 'gift_card'\n                WHEN LOWER(item->>'item_type') = 'package' THEN 'product'\n                WHEN LOWER(item->>'item_type') = 'gift_card' THEN 'gift_card'\n                WHEN LOWER(item->>'item_type') = 'appointment' THEN 'appointment'\n                ELSE 'service'\n            END,\n            CASE \n                WHEN item->>'item_id' ~ '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\\$' \n                THEN (item->>'item_id')::UUID\n                ELSE gen_random_uuid()\n            END,\n            staff_id_param,\n            COALESCE((item->>'quantity')::INTEGER, 1),\n            COALESCE((item->>'price')::DECIMAL(10,2), 0),\n            COALESCE((item->>'discount')::DECIMAL(10,2), 0)\n        );\n    END LOOP;\n    \n    -- Insert payments with PAYMENT METHOD FIX!\n    FOR payment IN SELECT * FROM jsonb_array_elements(payment_methods)\n    LOOP\n        INSERT INTO payments (\n            transaction_id,\n            method,\n            amount,\n            status\n        ) VALUES (\n            transaction_id,\n            CASE \n                WHEN LOWER(payment->>'method') = 'cash' THEN 'cash'\n                WHEN LOWER(payment->>'method') = 'credit' THEN 'card'\n                WHEN LOWER(payment->>'method') = 'credit_card' THEN 'card'\n                WHEN LOWER(payment->>'method') = 'credit card' THEN 'card'\n                WHEN LOWER(payment->>'method') = 'debit' THEN 'card'\n                WHEN LOWER(payment->>'method') = 'debit_card' THEN 'card'\n                WHEN LOWER(payment->>'method') = 'debit card' THEN 'card'\n                WHEN LOWER(payment->>'method') = 'check' THEN 'card'\n                WHEN LOWER(payment->>'method') = 'gift_certificate' THEN 'gift_card'\n                WHEN LOWER(payment->>'method') = 'gift_cert' THEN 'gift_card'\n                WHEN LOWER(payment->>'method') = 'iou' THEN 'card'\n                ELSE 'card'\n            END,\n            COALESCE((payment->>'amount')::DECIMAL(10,2), 0),\n            'completed'\n        );\n    END LOOP;\n    \n    -- Return success\n    result := jsonb_build_object(\n        'success', true,\n        'transaction_id', transaction_id,\n        'total_amount', total_amount_calc,\n        'discount_amount', discount_amount_calc,\n        'tax_amount', tax_amount_calc,\n        'tip_amount', tip_amount_calc,\n        'deposit_amount', deposit_amount_calc,\n        'final_due_amount', final_due_amount_calc,\n        'payment_amount', payment_amount_calc,\n        'customer_id', customer_id_param,\n        'status', CASE \n            WHEN payment_amount_calc >= final_due_amount_calc THEN 'PAID'\n            ELSE 'PENDING'\n        END\n    );\n    \n    RETURN result;\n    \nEXCEPTION\n    WHEN OTHERS THEN\n        result := jsonb_build_object(\n            'success', false,\n            'error', SQLERRM,\n            'detail', SQLSTATE\n        );\n        RETURN result;\nEND;\n\\$\\$;\n\nGRANT EXECUTE ON FUNCTION finalize_transaction(JSONB) TO authenticated;\nGRANT EXECUTE ON FUNCTION finalize_transaction(JSONB) TO service_role;\nNOTIFY pgrst, 'reload schema';
